{% extends "index.html" %}
{% block main_title %}
    change user
{% endblock %}
{% block main_board %}
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Введите имя</label><br>
            <input type="text" name="email" value="{{user.email}}" />
        </p>
        <p>
            <label>Введите пароль</label><br>
            <input type="password" name="password" value="" />
        </p>
        <input type="submit" value="Сохранить" >
    </form>
{% endblock %}
{% block admin_user_show %}show{% endblock %}
{% block admin_user %}active{% endblock %}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Введите имя</label><br>
            <input type="text" name="email" value="{{user.email}}" />
        </p>
        <p>
            <label>Введите пароль</label><br>
            <input type="password" name="password" value="" />
        </p>
        <input type="submit" value="Сохранить" >
    </form>
</body>
</html>