{% extends "index.html"%}
{% block main_title %}
    Журнал оказанных услуг
{% endblock %}
{% block main_board %}

    {% if perm %}
        <form id="create" action="create" method="POST">{% csrf_token %}</form>
    {% endif %}
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                      {% for i in table_head %}
                          <th>{{ i }}</th>
                      {% endfor %}
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        {% for i in table_head %}
                          <th>{{i}}</th>
                        {% endfor %}
                      </tr>
                    </tfoot>
                  <tbody>

        {% for str in rendered_service %}
            <tr>
                <td>
                    {{ str.id }}
                </td>
                <td>
                    {{ str.date }}
                </td>
                <td>
                    <a href="/client/?id={{ str.id_client.id }}"> {{ str.id_client.FIO }}</a>
                </td>
                <td>
                    <a href="/service/?id={{ str.id_service.id }}" >{{ str.id_service.service_name }}</a>
                </td>
                <td>
                    {{ str.sum }}
                </td>

            </tr>
        {% endfor %}
        {% if perm %}
            <tr>
            <td>

            </td>
            <td>
                <input type="text" form="create" name="FIO">
            </td>
            <td>
                <input type="text" form="create" name="addres">
            </td>
            <td>
                <input type="text" form="create" name="phone">
            </td>
            <td>

            </td>
            <td>
                <input type="submit" form="create" content="Создать">
            </td>
            </tr>
        {% endif %}
                  </tbody>
                </table>
              </div>
            </div>


{% endblock %}

{% block client_show %}show{% endblock %}
{% block rendered_service %}active{% endblock %}
{% block client_active %}active{% endblock %}