{% autoescape on %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Курсач - управление клиентами</title>
</head>
<body>
    {% if perm %}
        <form id="create" action="create" method="POST">{% csrf_token %}</form>
    {% endif %}
    <table>
        <tr>
                <td>
                    ID
                </td>
                <td>
                    ФИО
                </td>
                <td>
                    Адрес
                </td>
                <td>
                    Номер телефона
                </td>
                <td>
                    Баланс
                </td>
                <td>
                </td>
        </tr>
        {% for str in client %}
            <tr>
                <td>
                    {{ str.id }}<a name="id{{ str.id }}"></a>
                </td>
                <td>
                    {{ str.FIO }}
                </td>
                <td>
                    {{ str.addres }}
                </td>
                <td>
                    {{ str.phone_number }}
                </td>
                <td>
                    {{ str.balance }}
                </td>
                <td>
                    <a href="change/{{ str.id }}">Изменить</a>
                </td>
                {% if perm %}
                <td>
                    <a href="delete/{{ str.id }}">Удалить</a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        {% if perm %}
            <tr>
            <td>

            </td>
            <td>
                <input type="text" form="create" name="FIO">
            </td>
            <td>
                <input type="text" form="create" name="addres">
            </td>
            <td>
                <input type="text" form="create" name="phone">
            </td>
            <td>

            </td>
            <td>
                <input type="submit" form="create" content="Создать">
            </td>
            </tr>
        {% endif %}
    </table>
</body>
</html>
{% endautoescape %}