<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Курсач - главная</title>
</head>
<body>
    <table>
            {% for i in menu %}
                <tr>
                    {% for j in i %}
                        <td>
                            <a href={{ j.url }}>{{ j.name }}</a>
                        </td>
                    {% endfor %}
            {% endfor %}
    <tr>
        <td>
            <a href="/accounts/logout">Выйти из аккаунта</a>
        </td>
    </tr>
    </table>
</body>
</html>